fastapi==0.118.0 ; python_version >= "3.13"
uvicorn==0.37.0 ; python_version >= "3.13"
websockets==15.0 ; python_version >= "3.13"
pydantic-core==2.33.2 ; python_version >= "3.13"
pydantic==2.11.9 ; python_version >= "3.13"
